/*
Definición de fuentes para el texto.
Se utiliza archivos .woff ya que los soporta cualquier navegador moderno.
*/
@font-face {
    font-family:Comfortaa-Bold;
    src: url("../fuentes/Comfortaa-bold.woff");
}

@font-face {
    font-family:Comfortaa-Light;
    src: url("../fuentes/Comfortaa-Light.woff");
}

@font-face {
    font-family:Raleway;
    src: url("../fuentes/Raleway-Medium.woff");
}

body {
    background-color: #FFF;
    height: 100%;
}

.CentradoVertical {
    padding: 0.5% 10px;
}

/*
Estilo base de la página.
*/
#pagina {
    width: 70%;
    min-width: 920px;
    height: 100%;
    margin: 0px auto;
    background-color: #EEEEEE;
    box-shadow: 0px 0px 18px 4px #BABABA;
    border-radius: 5px;
}

header {
    height: 12%;
    min-height: 78px; 
    font-size: 28px;
    font-family: "Comfortaa-Bold", sans-serif; 
    margin: 0px;
}

header div {
    height: 100%;
    padding:  1% 0;
}

#titulo {  
    min-height: 55px;
    background-color: red;
    display: table;
}

#titulo p {
    display: table-cell;
    vertical-align: middle;
}

/*
Bloque que contiene la imágen de logotipo.
*/
#logo {
    float: left;
    height: 100%;
    min-height: 55px;
    width: 10%;
    overflow: hidden;
    background-image: url(../imagenes/logo_276.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: table;
    text-align: center;
}


nav {
    height: 5%;
    min-height: 32px;
    width: 95%;
    background-color:#555;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Comfortaa-Bold", sans-serif;
    margin: 0px auto;  
}

#menu {
    
}

/*
Bloques que forman el menú
*/
#menu li {    
    display: inline-block;
    padding:  0.5% 0;
    margin-right: 1%;
}

#menu ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
Enlaces del menú.
*/
#menu a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 2px 3px;
    border-radius: 4px;
}

#menu a.actual {
    background-color: #FFAA00;
}

#menu a:hover {
    background-color: #FFAA00;
}

#contenido {
    height: 76%;
    min-height: 494px;
}

article {
    width: 85%;
    height: 100%;
    float: left;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;   
    
}

aside {
    width: 15%;
    height: 100%;
    float: right;
    margin: 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

footer {
    position: relative;
    height: 7%;
    min-height: 46px;
    font-size: 13px;
    font-family: 'Comfortaa-Light', sans-serif;
}

#autor{
    float: left;    
}

#info {
    float: right;
}

/*
Gira el contenido del bloque.
Para poder poner el simbolo de copyleft (&copy; al reves).
*/
#cl {
    font-family: sans-serif;
    display: inline-block;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

